# Ignore sourcemaps (they ruin stats)
*.map linguist-generated=true

# Ignore node_modules completely
node_modules/** linguist-vendored=true

# Exclude large non-code assets from language stats
docs/data/** linguist-generated=true
docs/images/** linguist-generated=true
